-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: climacopos
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alergeno`
--

DROP TABLE IF EXISTS `alergeno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alergeno` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(60) NOT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_alergeno_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` int(10) unsigned DEFAULT NULL,
  `usuario_nombre_snapshot` varchar(120) DEFAULT NULL,
  `accion` enum('crear','actualizar','eliminar','cancelar','restaurar') NOT NULL,
  `entidad` varchar(60) NOT NULL,
  `entidad_id` varchar(60) DEFAULT NULL,
  `descripcion` varchar(500) NOT NULL,
  `detalle_json` text DEFAULT NULL,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_auditoria_fecha` (`fecha`),
  KEY `idx_auditoria_usuario` (`usuario_id`),
  KEY `idx_auditoria_entidad` (`entidad`,`entidad_id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `carta_digital`
--

DROP TABLE IF EXISTS `carta_digital`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carta_digital` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `identificador_publico` char(24) NOT NULL,
  `nombre` varchar(200) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `pie_texto` text DEFAULT NULL,
  `mostrar_alergenos` tinyint(1) NOT NULL DEFAULT 1,
  `mostrar_anadidos` tinyint(1) NOT NULL DEFAULT 1,
  `color_principal` varchar(7) NOT NULL DEFAULT '#ff8a3d',
  `color_fondo` varchar(7) NOT NULL DEFAULT '#14181c',
  `imagen_cabecera` varchar(255) DEFAULT NULL,
  `estilo_avanzado_css` text DEFAULT NULL,
  `tarifa_id` int(10) unsigned NOT NULL,
  `tarifa_2_id` int(10) unsigned DEFAULT NULL,
  `tarifa_3_id` int(10) unsigned DEFAULT NULL,
  `publicada_en` datetime DEFAULT NULL,
  `error_ultima_publicacion` varchar(500) DEFAULT NULL,
  `creado_en` datetime NOT NULL DEFAULT current_timestamp(),
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_carta_identificador` (`identificador_publico`),
  KEY `fk_carta_tarifa` (`tarifa_id`),
  KEY `fk_carta_tarifa2` (`tarifa_2_id`),
  KEY `fk_carta_tarifa3` (`tarifa_3_id`),
  CONSTRAINT `fk_carta_tarifa` FOREIGN KEY (`tarifa_id`) REFERENCES `tarifa` (`id`),
  CONSTRAINT `fk_carta_tarifa2` FOREIGN KEY (`tarifa_2_id`) REFERENCES `tarifa` (`id`),
  CONSTRAINT `fk_carta_tarifa3` FOREIGN KEY (`tarifa_3_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `carta_digital_familia`
--

DROP TABLE IF EXISTS `carta_digital_familia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carta_digital_familia` (
  `carta_digital_id` int(10) unsigned NOT NULL,
  `familia_id` int(10) unsigned NOT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`carta_digital_id`,`familia_id`),
  KEY `fk_cdf_familia` (`familia_id`),
  CONSTRAINT `fk_cdf_carta` FOREIGN KEY (`carta_digital_id`) REFERENCES `carta_digital` (`id`),
  CONSTRAINT `fk_cdf_familia` FOREIGN KEY (`familia_id`) REFERENCES `familia` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `centro_venta`
--

DROP TABLE IF EXISTS `centro_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `centro_venta` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `tarifa_defecto_id` int(10) unsigned NOT NULL,
  `tarifa_actual_id` int(10) unsigned NOT NULL,
  `precios_incluyen_impuesto` tinyint(1) NOT NULL DEFAULT 1,
  `preguntar_comensales` tinyint(1) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_centro_venta_nombre` (`nombre`,`eliminado_en`),
  KEY `fk_cv_tarifa_defecto` (`tarifa_defecto_id`),
  KEY `fk_cv_tarifa_actual` (`tarifa_actual_id`),
  CONSTRAINT `fk_cv_tarifa_actual` FOREIGN KEY (`tarifa_actual_id`) REFERENCES `tarifa` (`id`),
  CONSTRAINT `fk_cv_tarifa_defecto` FOREIGN KEY (`tarifa_defecto_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cierre_formacion`
--

DROP TABLE IF EXISTS `cierre_formacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cierre_formacion` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jornada_pos_id` int(10) unsigned NOT NULL,
  `usuario_id` int(10) unsigned NOT NULL,
  `usuario_nombre_snapshot` varchar(120) NOT NULL,
  `punto_venta_nombre_snapshot` varchar(120) NOT NULL,
  `num_tickets` int(10) unsigned NOT NULL DEFAULT 0,
  `total_ventas` decimal(10,2) NOT NULL DEFAULT 0.00,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cierre_formacion_jornada` (`jornada_pos_id`),
  KEY `idx_cierre_formacion_usuario` (`usuario_id`),
  KEY `idx_cierre_formacion_fecha` (`fecha`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre_fiscal` varchar(120) NOT NULL,
  `cif` varchar(20) NOT NULL,
  `nombre_comercial` varchar(120) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `calle` varchar(150) DEFAULT NULL,
  `ciudad` varchar(100) DEFAULT NULL,
  `codigo_postal` varchar(10) DEFAULT NULL,
  `descuento_pct` decimal(6,3) NOT NULL DEFAULT 0.000,
  `tarifa_id` int(10) unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_cliente_cif` (`cif`,`eliminado_en`),
  KEY `fk_cliente_tarifa` (`tarifa_id`),
  CONSTRAINT `fk_cliente_tarifa` FOREIGN KEY (`tarifa_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `configuracion`
--

DROP TABLE IF EXISTS `configuracion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracion` (
  `clave` varchar(60) NOT NULL,
  `valor` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `elemento_plano`
--

DROP TABLE IF EXISTS `elemento_plano`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `elemento_plano` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `centro_venta_id` int(10) unsigned NOT NULL,
  `tipo` enum('muro','mostrador','planta','futbolin','billar','sofa') NOT NULL,
  `pos_x` int(11) NOT NULL DEFAULT 0,
  `pos_y` int(11) NOT NULL DEFAULT 0,
  `ancho` int(11) NOT NULL DEFAULT 80,
  `alto` int(11) NOT NULL DEFAULT 20,
  `rotacion` smallint(6) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_elemento_centro` (`centro_venta_id`),
  CONSTRAINT `fk_elemento_centro` FOREIGN KEY (`centro_venta_id`) REFERENCES `centro_venta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empresa`
--

DROP TABLE IF EXISTS `empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresa` (
  `id` int(10) unsigned NOT NULL DEFAULT 1,
  `nombre_fiscal` varchar(200) DEFAULT NULL,
  `nombre_comercial` varchar(200) DEFAULT NULL,
  `cif` varchar(20) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `mensaje_pie_ticket` varchar(255) DEFAULT NULL,
  `logo_ticket` varchar(255) DEFAULT NULL,
  `mensaje_cabecera_ticket` varchar(255) DEFAULT NULL,
  `mostrar_logo_ticket` tinyint(1) NOT NULL DEFAULT 0,
  `mostrar_nombre_ticket` tinyint(1) NOT NULL DEFAULT 1,
  `mostrar_cif_ticket` tinyint(1) NOT NULL DEFAULT 1,
  `mostrar_direccion_ticket` tinyint(1) NOT NULL DEFAULT 1,
  `mostrar_telefono_ticket` tinyint(1) NOT NULL DEFAULT 0,
  `mostrar_email_ticket` tinyint(1) NOT NULL DEFAULT 0,
  `actualizado_en` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evento_sistema`
--

DROP TABLE IF EXISTS `evento_sistema`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evento_sistema` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `fecha` datetime NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `huella` char(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_evento_fecha` (`fecha`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `factura_numeracion`
--

DROP TABLE IF EXISTS `factura_numeracion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `factura_numeracion` (
  `serie` varchar(10) NOT NULL,
  `siguiente` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`serie`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `factura_rectificativa`
--

DROP TABLE IF EXISTS `factura_rectificativa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `factura_rectificativa` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_id` int(10) unsigned NOT NULL,
  `motivo` varchar(500) NOT NULL,
  `usuario_id` int(10) unsigned NOT NULL,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_rectificativa_ticket` (`ticket_id`),
  KEY `fk_rectificativa_usuario` (`usuario_id`),
  CONSTRAINT `fk_rectificativa_ticket` FOREIGN KEY (`ticket_id`) REFERENCES `ticket` (`id`),
  CONSTRAINT `fk_rectificativa_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `familia`
--

DROP TABLE IF EXISTS `familia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `familia` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `familia_padre_id` int(10) unsigned DEFAULT NULL,
  `imagen` varchar(255) DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_familia_nombre` (`nombre`,`eliminado_en`),
  KEY `fk_familia_padre` (`familia_padre_id`),
  CONSTRAINT `fk_familia_padre` FOREIGN KEY (`familia_padre_id`) REFERENCES `familia` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fichaje`
--

DROP TABLE IF EXISTS `fichaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fichaje` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` int(10) unsigned NOT NULL,
  `usuario_nombre_snapshot` varchar(120) NOT NULL,
  `fecha_negocio` date NOT NULL,
  `fecha_entrada` datetime NOT NULL,
  `fecha_salida` datetime DEFAULT NULL,
  `editado_en` datetime DEFAULT NULL,
  `editado_por_id` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_fichaje_usuario` (`usuario_id`),
  KEY `idx_fichaje_fecha_negocio` (`fecha_negocio`),
  CONSTRAINT `fk_fichaje_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `forma_pago`
--

DROP TABLE IF EXISTS `forma_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forma_pago` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `abre_cajon` tinyint(1) NOT NULL DEFAULT 0,
  `da_cambio` tinyint(1) NOT NULL DEFAULT 0,
  `incluye_en_arqueo` tinyint(1) NOT NULL DEFAULT 1,
  `admite_propina` tinyint(1) NOT NULL DEFAULT 0,
  `propina_se_retira_de_caja` tinyint(1) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_forma_pago_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `formato_venta`
--

DROP TABLE IF EXISTS `formato_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `formato_venta` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `producto_id` int(10) unsigned NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `vendible_principal` tinyint(1) NOT NULL DEFAULT 1,
  `vendible_anadido` tinyint(1) NOT NULL DEFAULT 0,
  `pide_anadidos` tinyint(1) NOT NULL DEFAULT 0,
  `tipo_preparacion_id` int(10) unsigned DEFAULT NULL,
  `orden_preparacion_id` int(10) unsigned DEFAULT NULL,
  `tipo_impuesto_id` int(10) unsigned DEFAULT NULL,
  `es_base` tinyint(1) NOT NULL DEFAULT 1,
  `orden` int(11) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_formato_venta_producto` (`producto_id`),
  KEY `fk_formato_venta_tipo_prep` (`tipo_preparacion_id`),
  KEY `fk_formato_venta_orden_prep` (`orden_preparacion_id`),
  KEY `fk_formato_venta_tipo_impuesto` (`tipo_impuesto_id`),
  CONSTRAINT `fk_formato_venta_orden_prep` FOREIGN KEY (`orden_preparacion_id`) REFERENCES `orden_preparacion` (`id`),
  CONSTRAINT `fk_formato_venta_producto` FOREIGN KEY (`producto_id`) REFERENCES `producto` (`id`),
  CONSTRAINT `fk_formato_venta_tipo_impuesto` FOREIGN KEY (`tipo_impuesto_id`) REFERENCES `tipo_impuesto` (`id`),
  CONSTRAINT `fk_formato_venta_tipo_prep` FOREIGN KEY (`tipo_preparacion_id`) REFERENCES `tipo_preparacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `formato_venta_grupo_anadido`
--

DROP TABLE IF EXISTS `formato_venta_grupo_anadido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `formato_venta_grupo_anadido` (
  `formato_venta_id` int(10) unsigned NOT NULL,
  `grupo_anadido_id` int(10) unsigned NOT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`formato_venta_id`,`grupo_anadido_id`),
  KEY `fk_fvga_grupo` (`grupo_anadido_id`),
  CONSTRAINT `fk_fvga_formato` FOREIGN KEY (`formato_venta_id`) REFERENCES `formato_venta` (`id`),
  CONSTRAINT `fk_fvga_grupo` FOREIGN KEY (`grupo_anadido_id`) REFERENCES `grupo_anadido` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `formato_venta_precio`
--

DROP TABLE IF EXISTS `formato_venta_precio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `formato_venta_precio` (
  `formato_venta_id` int(10) unsigned NOT NULL,
  `tarifa_id` int(10) unsigned NOT NULL,
  `precio_principal` decimal(10,3) DEFAULT NULL,
  `precio_anadido` decimal(10,3) DEFAULT NULL,
  `precio_menu` decimal(10,3) DEFAULT NULL,
  `actualizado_en` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`formato_venta_id`,`tarifa_id`),
  KEY `fk_fvp_tarifa` (`tarifa_id`),
  CONSTRAINT `fk_fvp_formato` FOREIGN KEY (`formato_venta_id`) REFERENCES `formato_venta` (`id`),
  CONSTRAINT `fk_fvp_tarifa` FOREIGN KEY (`tarifa_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `grupo_anadido`
--

DROP TABLE IF EXISTS `grupo_anadido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grupo_anadido` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `min_anadidos` int(10) unsigned NOT NULL DEFAULT 0,
  `max_anadidos` int(10) unsigned NOT NULL DEFAULT 1,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_grupo_anadido_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `grupo_anadido_opcion`
--

DROP TABLE IF EXISTS `grupo_anadido_opcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grupo_anadido_opcion` (
  `grupo_anadido_id` int(10) unsigned NOT NULL,
  `formato_venta_anadido_id` int(10) unsigned NOT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`grupo_anadido_id`,`formato_venta_anadido_id`),
  KEY `fk_gao_formato` (`formato_venta_anadido_id`),
  CONSTRAINT `fk_gao_formato` FOREIGN KEY (`formato_venta_anadido_id`) REFERENCES `formato_venta` (`id`),
  CONSTRAINT `fk_gao_grupo` FOREIGN KEY (`grupo_anadido_id`) REFERENCES `grupo_anadido` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `impresora_centro`
--

DROP TABLE IF EXISTS `impresora_centro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `impresora_centro` (
  `impresora_cocina_id` int(10) unsigned NOT NULL,
  `centro_venta_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`impresora_cocina_id`,`centro_venta_id`),
  KEY `fk_ic_centro` (`centro_venta_id`),
  CONSTRAINT `fk_ic_centro` FOREIGN KEY (`centro_venta_id`) REFERENCES `centro_venta` (`id`),
  CONSTRAINT `fk_ic_impresora` FOREIGN KEY (`impresora_cocina_id`) REFERENCES `impresora_cocina` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `impresora_cocina`
--

DROP TABLE IF EXISTS `impresora_cocina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `impresora_cocina` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `punto_venta_id` int(10) unsigned NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `impresora_sistema` varchar(120) NOT NULL,
  `todos_los_centros` tinyint(1) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_impresora_punto_venta` (`punto_venta_id`),
  CONSTRAINT `fk_impresora_punto_venta` FOREIGN KEY (`punto_venta_id`) REFERENCES `punto_venta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `impresora_tipo`
--

DROP TABLE IF EXISTS `impresora_tipo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `impresora_tipo` (
  `impresora_cocina_id` int(10) unsigned NOT NULL,
  `tipo_preparacion_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`impresora_cocina_id`,`tipo_preparacion_id`),
  KEY `fk_it_tipo` (`tipo_preparacion_id`),
  CONSTRAINT `fk_it_impresora` FOREIGN KEY (`impresora_cocina_id`) REFERENCES `impresora_cocina` (`id`),
  CONSTRAINT `fk_it_tipo` FOREIGN KEY (`tipo_preparacion_id`) REFERENCES `tipo_preparacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `jornada_arqueo`
--

DROP TABLE IF EXISTS `jornada_arqueo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jornada_arqueo` (
  `jornada_pos_id` int(10) unsigned NOT NULL,
  `forma_pago_id` int(10) unsigned NOT NULL,
  `importe_esperado` decimal(10,3) NOT NULL DEFAULT 0.000,
  `importe_contado` decimal(10,3) DEFAULT NULL,
  PRIMARY KEY (`jornada_pos_id`,`forma_pago_id`),
  KEY `fk_arqueo_forma_pago` (`forma_pago_id`),
  CONSTRAINT `fk_arqueo_forma_pago` FOREIGN KEY (`forma_pago_id`) REFERENCES `forma_pago` (`id`),
  CONSTRAINT `fk_arqueo_jornada` FOREIGN KEY (`jornada_pos_id`) REFERENCES `jornada_pos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `jornada_pos`
--

DROP TABLE IF EXISTS `jornada_pos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jornada_pos` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `punto_venta_id` int(10) unsigned NOT NULL,
  `usuario_apertura_id` int(10) unsigned NOT NULL,
  `fecha_apertura` datetime NOT NULL,
  `usuario_cierre_id` int(10) unsigned DEFAULT NULL,
  `fecha_cierre` datetime DEFAULT NULL,
  `efectivo_inicial` decimal(10,3) NOT NULL DEFAULT 0.000,
  `efectivo_esperado` decimal(10,3) DEFAULT NULL,
  `efectivo_contado` decimal(10,3) DEFAULT NULL,
  `incidencia` varchar(200) DEFAULT NULL,
  `codigo_verificacion` char(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_jornada_punto_venta` (`punto_venta_id`),
  KEY `fk_jornada_usuario_apertura` (`usuario_apertura_id`),
  KEY `fk_jornada_usuario_cierre` (`usuario_cierre_id`),
  CONSTRAINT `fk_jornada_punto_venta` FOREIGN KEY (`punto_venta_id`) REFERENCES `punto_venta` (`id`),
  CONSTRAINT `fk_jornada_usuario_apertura` FOREIGN KEY (`usuario_apertura_id`) REFERENCES `usuario` (`id`),
  CONSTRAINT `fk_jornada_usuario_cierre` FOREIGN KEY (`usuario_cierre_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `mesa`
--

DROP TABLE IF EXISTS `mesa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mesa` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `centro_venta_id` int(10) unsigned NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `tipo_mesa_id` int(10) unsigned DEFAULT NULL,
  `forma` enum('rectangular','redonda','barra') NOT NULL DEFAULT 'rectangular',
  `plazas` tinyint(3) unsigned NOT NULL DEFAULT 4,
  `pos_x` int(11) NOT NULL DEFAULT 0,
  `pos_y` int(11) NOT NULL DEFAULT 0,
  `rotacion` smallint(6) NOT NULL DEFAULT 0,
  `ancho` smallint(6) DEFAULT NULL,
  `alto` smallint(6) DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_mesa_centro_nombre` (`centro_venta_id`,`nombre`,`eliminado_en`),
  KEY `fk_mesa_tipo` (`tipo_mesa_id`),
  CONSTRAINT `fk_mesa_centro` FOREIGN KEY (`centro_venta_id`) REFERENCES `centro_venta` (`id`),
  CONSTRAINT `fk_mesa_tipo` FOREIGN KEY (`tipo_mesa_id`) REFERENCES `tipo_mesa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `migracion_aplicada`
--

DROP TABLE IF EXISTS `migracion_aplicada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migracion_aplicada` (
  `archivo` varchar(150) NOT NULL,
  `aplicada_en` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`archivo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `motivo_cancelacion`
--

DROP TABLE IF EXISTS `motivo_cancelacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `motivo_cancelacion` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `texto` varchar(200) NOT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_motivo_cancelacion_texto` (`texto`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `movimiento_caja`
--

DROP TABLE IF EXISTS `movimiento_caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movimiento_caja` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `jornada_pos_id` int(10) unsigned NOT NULL,
  `tipo` enum('gasto','entrada') NOT NULL,
  `importe` decimal(10,3) NOT NULL,
  `concepto` varchar(200) NOT NULL,
  `usuario_id` int(10) unsigned NOT NULL,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_movimiento_jornada` (`jornada_pos_id`),
  KEY `fk_movimiento_usuario` (`usuario_id`),
  CONSTRAINT `fk_movimiento_jornada` FOREIGN KEY (`jornada_pos_id`) REFERENCES `jornada_pos` (`id`),
  CONSTRAINT `fk_movimiento_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nota_preparacion`
--

DROP TABLE IF EXISTS `nota_preparacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nota_preparacion` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `texto` varchar(200) NOT NULL,
  `familia_id` int(10) unsigned DEFAULT NULL,
  `producto_id` int(10) unsigned DEFAULT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_nota_prep_familia` (`familia_id`),
  KEY `fk_nota_prep_producto` (`producto_id`),
  CONSTRAINT `fk_nota_prep_familia` FOREIGN KEY (`familia_id`) REFERENCES `familia` (`id`),
  CONSTRAINT `fk_nota_prep_producto` FOREIGN KEY (`producto_id`) REFERENCES `producto` (`id`),
  CONSTRAINT `chk_nota_prep_ambito_v2` CHECK (`familia_id` is null or `producto_id` is null)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `orden_preparacion`
--

DROP TABLE IF EXISTS `orden_preparacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orden_preparacion` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `prioridad` int(11) NOT NULL DEFAULT 0,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_orden_preparacion_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pago`
--

DROP TABLE IF EXISTS `pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pago` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_id` int(10) unsigned NOT NULL,
  `forma_pago_id` int(10) unsigned NOT NULL,
  `importe_pagado` decimal(10,3) NOT NULL,
  `importe_cambio` decimal(10,3) NOT NULL DEFAULT 0.000,
  `propina` decimal(10,3) NOT NULL DEFAULT 0.000,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pago_ticket` (`ticket_id`),
  KEY `fk_pago_forma` (`forma_pago_id`),
  CONSTRAINT `fk_pago_forma` FOREIGN KEY (`forma_pago_id`) REFERENCES `forma_pago` (`id`),
  CONSTRAINT `fk_pago_ticket` FOREIGN KEY (`ticket_id`) REFERENCES `ticket` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `producto` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `familia_id` int(10) unsigned DEFAULT NULL,
  `nombre` varchar(120) NOT NULL,
  `imagen` varchar(255) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `mostrar_en_carta_digital` tinyint(1) NOT NULL DEFAULT 1,
  `creado_en` datetime NOT NULL DEFAULT current_timestamp(),
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_producto_nombre` (`nombre`,`eliminado_en`),
  KEY `idx_producto_familia` (`familia_id`),
  CONSTRAINT `fk_producto_familia` FOREIGN KEY (`familia_id`) REFERENCES `familia` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `producto_alergeno`
--

DROP TABLE IF EXISTS `producto_alergeno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `producto_alergeno` (
  `producto_id` int(10) unsigned NOT NULL,
  `alergeno_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`producto_id`,`alergeno_id`),
  KEY `fk_pa_alergeno` (`alergeno_id`),
  CONSTRAINT `fk_pa_alergeno` FOREIGN KEY (`alergeno_id`) REFERENCES `alergeno` (`id`),
  CONSTRAINT `fk_pa_producto` FOREIGN KEY (`producto_id`) REFERENCES `producto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `punto_venta`
--

DROP TABLE IF EXISTS `punto_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `punto_venta` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `tipo` enum('ordenador','comandero') NOT NULL DEFAULT 'ordenador',
  `impresora_cajon` varchar(80) DEFAULT NULL,
  `impresora_ticket` varchar(80) DEFAULT NULL,
  `vuelve_a_seleccion_usuario` tinyint(1) NOT NULL DEFAULT 0,
  `preguntar_comensales` tinyint(1) NOT NULL DEFAULT 0,
  `minutos_inactividad_cierre_sesion` int(10) unsigned NOT NULL DEFAULT 0,
  `imprimir_ticket_tras_cobrar` enum('automatico','preguntar','nunca') NOT NULL DEFAULT 'nunca',
  `imprimir_invitaciones` tinyint(1) NOT NULL DEFAULT 0,
  `imprimir_totales_familia` tinyint(1) NOT NULL DEFAULT 0,
  `imprimir_cierre_formacion` tinyint(1) NOT NULL DEFAULT 0,
  `dias_conservar_formacion` smallint(6) DEFAULT NULL,
  `enviar_cierre_email` tinyint(1) NOT NULL DEFAULT 0,
  `email_cierre` varchar(255) DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  `clave_hash` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_punto_venta_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `punto_venta_control_efectivo`
--

DROP TABLE IF EXISTS `punto_venta_control_efectivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `punto_venta_control_efectivo` (
  `punto_venta_id` int(10) unsigned NOT NULL,
  `clave` varchar(80) NOT NULL,
  `valor` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`punto_venta_id`,`clave`),
  CONSTRAINT `fk_pvce_punto_venta` FOREIGN KEY (`punto_venta_id`) REFERENCES `punto_venta` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `registro_facturacion`
--

DROP TABLE IF EXISTS `registro_facturacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registro_facturacion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tipo` enum('alta','anulacion') NOT NULL,
  `nif_emisor` varchar(20) NOT NULL,
  `serie` varchar(20) NOT NULL,
  `numero` int(11) NOT NULL,
  `fecha_expedicion` date NOT NULL,
  `tipo_factura` varchar(4) NOT NULL DEFAULT 'F2',
  `cuota_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `importe_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `huella` char(64) NOT NULL,
  `huella_anterior` char(64) DEFAULT NULL,
  `fecha_hora_registro` datetime NOT NULL,
  `ticket_id` int(11) DEFAULT NULL,
  `rectificativa_id` int(11) DEFAULT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `enviado_aeat` tinyint(1) NOT NULL DEFAULT 0,
  `respuesta_aeat` text DEFAULT NULL,
  `csv_aeat` varchar(50) DEFAULT NULL,
  `estado_aeat` varchar(24) DEFAULT NULL,
  `datos_json` mediumtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_registro` (`tipo`,`serie`,`numero`),
  KEY `idx_registro_fecha` (`fecha_hora_registro`),
  KEY `idx_registro_ticket` (`ticket_id`),
  KEY `idx_registro_estado` (`estado_aeat`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rol_anadido`
--

DROP TABLE IF EXISTS `rol_anadido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol_anadido` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `formato_venta_id` int(10) unsigned NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `min_anadidos` int(10) unsigned NOT NULL DEFAULT 0,
  `max_anadidos` int(10) unsigned NOT NULL DEFAULT 1,
  `orden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_rol_anadido_formato` (`formato_venta_id`),
  CONSTRAINT `fk_rol_anadido_formato` FOREIGN KEY (`formato_venta_id`) REFERENCES `formato_venta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rol_anadido_opcion`
--

DROP TABLE IF EXISTS `rol_anadido_opcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol_anadido_opcion` (
  `rol_anadido_id` int(10) unsigned NOT NULL,
  `formato_venta_anadido_id` int(10) unsigned NOT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`rol_anadido_id`,`formato_venta_anadido_id`),
  KEY `fk_rao_formato` (`formato_venta_anadido_id`),
  CONSTRAINT `fk_rao_formato` FOREIGN KEY (`formato_venta_anadido_id`) REFERENCES `formato_venta` (`id`),
  CONSTRAINT `fk_rao_rol` FOREIGN KEY (`rol_anadido_id`) REFERENCES `rol_anadido` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tarifa`
--

DROP TABLE IF EXISTS `tarifa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tarifa` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tarifa_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ticket`
--

DROP TABLE IF EXISTS `ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `centro_venta_id` int(10) unsigned NOT NULL,
  `mesa_id` int(10) unsigned DEFAULT NULL,
  `mesa_nombre_snapshot` varchar(120) DEFAULT NULL,
  `jornada_pos_id` int(10) unsigned NOT NULL,
  `tarifa_id` int(10) unsigned NOT NULL,
  `camarero_apertura_id` int(10) unsigned NOT NULL,
  `comensales` int(10) unsigned DEFAULT NULL,
  `cliente_id` int(10) unsigned DEFAULT NULL,
  `cliente_requiere_factura` tinyint(1) NOT NULL DEFAULT 0,
  `cliente_nombre_fiscal_snapshot` varchar(120) DEFAULT NULL,
  `cliente_cif_snapshot` varchar(20) DEFAULT NULL,
  `cliente_direccion_snapshot` varchar(200) DEFAULT NULL,
  `fecha_apertura` datetime NOT NULL DEFAULT current_timestamp(),
  `fecha_cierre` datetime DEFAULT NULL,
  `cerrado` tinyint(1) NOT NULL DEFAULT 0,
  `factura_serie` varchar(10) DEFAULT NULL,
  `factura_numero` int(11) DEFAULT NULL,
  `factura_fecha_expedicion` date DEFAULT NULL,
  `rectificada_en` datetime DEFAULT NULL,
  `total_neto` decimal(10,3) NOT NULL DEFAULT 0.000,
  `total_impuestos` decimal(10,3) NOT NULL DEFAULT 0.000,
  `total` decimal(10,3) NOT NULL DEFAULT 0.000,
  `total_propina` decimal(10,3) NOT NULL DEFAULT 0.000,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ticket_factura` (`factura_serie`,`factura_numero`),
  KEY `idx_ticket_centro` (`centro_venta_id`),
  KEY `idx_ticket_jornada` (`jornada_pos_id`),
  KEY `idx_ticket_cliente` (`cliente_id`),
  KEY `idx_ticket_mesa` (`mesa_id`),
  KEY `fk_ticket_tarifa` (`tarifa_id`),
  KEY `fk_ticket_camarero` (`camarero_apertura_id`),
  CONSTRAINT `fk_ticket_camarero` FOREIGN KEY (`camarero_apertura_id`) REFERENCES `usuario` (`id`),
  CONSTRAINT `fk_ticket_centro` FOREIGN KEY (`centro_venta_id`) REFERENCES `centro_venta` (`id`),
  CONSTRAINT `fk_ticket_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `cliente` (`id`),
  CONSTRAINT `fk_ticket_jornada` FOREIGN KEY (`jornada_pos_id`) REFERENCES `jornada_pos` (`id`),
  CONSTRAINT `fk_ticket_mesa` FOREIGN KEY (`mesa_id`) REFERENCES `mesa` (`id`),
  CONSTRAINT `fk_ticket_tarifa` FOREIGN KEY (`tarifa_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ticket_linea`
--

DROP TABLE IF EXISTS `ticket_linea`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_linea` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_id` int(10) unsigned NOT NULL,
  `formato_venta_id` int(10) unsigned NOT NULL,
  `producto_nombre_snapshot` varchar(120) NOT NULL,
  `formato_nombre_snapshot` varchar(120) NOT NULL,
  `precio_unitario` decimal(10,3) NOT NULL,
  `tipo_impuesto_nombre_snapshot` varchar(60) DEFAULT NULL,
  `tipo_impuesto_porcentaje` decimal(5,2) DEFAULT NULL,
  `cantidad` decimal(8,3) NOT NULL DEFAULT 1.000,
  `camarero_id` int(10) unsigned NOT NULL,
  `tipo_preparacion_id` int(10) unsigned DEFAULT NULL,
  `orden_preparacion_id` int(10) unsigned DEFAULT NULL,
  `notas` varchar(800) DEFAULT NULL,
  `comanda_enviada_en` datetime DEFAULT NULL,
  `cancelada` tinyint(1) NOT NULL DEFAULT 0,
  `es_invitacion` tinyint(1) NOT NULL DEFAULT 0,
  `motivo_cancelacion` varchar(200) DEFAULT NULL,
  `usuario_cancelacion_id` int(10) unsigned DEFAULT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  `creado_en` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_linea_ticket` (`ticket_id`),
  KEY `idx_linea_formato` (`formato_venta_id`),
  KEY `fk_linea_camarero` (`camarero_id`),
  KEY `fk_linea_tipo_prep` (`tipo_preparacion_id`),
  KEY `fk_linea_orden_prep` (`orden_preparacion_id`),
  KEY `fk_linea_usuario_cancel` (`usuario_cancelacion_id`),
  CONSTRAINT `fk_linea_camarero` FOREIGN KEY (`camarero_id`) REFERENCES `usuario` (`id`),
  CONSTRAINT `fk_linea_formato` FOREIGN KEY (`formato_venta_id`) REFERENCES `formato_venta` (`id`),
  CONSTRAINT `fk_linea_orden_prep` FOREIGN KEY (`orden_preparacion_id`) REFERENCES `orden_preparacion` (`id`),
  CONSTRAINT `fk_linea_ticket` FOREIGN KEY (`ticket_id`) REFERENCES `ticket` (`id`),
  CONSTRAINT `fk_linea_tipo_prep` FOREIGN KEY (`tipo_preparacion_id`) REFERENCES `tipo_preparacion` (`id`),
  CONSTRAINT `fk_linea_usuario_cancel` FOREIGN KEY (`usuario_cancelacion_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ticket_linea_anadido`
--

DROP TABLE IF EXISTS `ticket_linea_anadido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_linea_anadido` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `ticket_linea_id` int(10) unsigned NOT NULL,
  `formato_venta_id` int(10) unsigned NOT NULL,
  `producto_nombre_snapshot` varchar(120) NOT NULL,
  `precio` decimal(10,3) NOT NULL DEFAULT 0.000,
  `notas` varchar(800) DEFAULT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_anadido_linea` (`ticket_linea_id`),
  KEY `fk_anadido_formato` (`formato_venta_id`),
  CONSTRAINT `fk_anadido_formato` FOREIGN KEY (`formato_venta_id`) REFERENCES `formato_venta` (`id`),
  CONSTRAINT `fk_anadido_linea` FOREIGN KEY (`ticket_linea_id`) REFERENCES `ticket_linea` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tipo_impuesto`
--

DROP TABLE IF EXISTS `tipo_impuesto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_impuesto` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(60) NOT NULL,
  `porcentaje` decimal(5,2) NOT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tipo_impuesto_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tipo_mesa`
--

DROP TABLE IF EXISTS `tipo_mesa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_mesa` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(60) NOT NULL,
  `color` varchar(7) NOT NULL DEFAULT '#34c77b',
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tipo_mesa_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tipo_preparacion`
--

DROP TABLE IF EXISTS `tipo_preparacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_preparacion` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tipo_preparacion_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `nombre_completo` varchar(200) DEFAULT NULL,
  `dni_nif` varchar(20) DEFAULT NULL,
  `pin_hash` varchar(255) DEFAULT NULL,
  `rol` enum('camarero','encargado','administrador','repartidor','camarero_formacion') NOT NULL DEFAULT 'camarero',
  `mostrar_en_tpv` tinyint(1) NOT NULL DEFAULT 1,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_usuario_nombre` (`nombre`,`eliminado_en`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `verifactu_cadena`
--

DROP TABLE IF EXISTS `verifactu_cadena`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `verifactu_cadena` (
  `id` tinyint(4) NOT NULL,
  `ultimo_registro_id` bigint(20) DEFAULT NULL,
  `actualizado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping routines for database 'climacopos'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-22 20:58:45
